[package]
name    = "components"
version = "0.0.0"
edition = "2024"

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
uibeam = { workspace = true }
serde  = { workspace = true }
