<!DOCTYPE html>
<html>
  <head>
    <title>Test Counter</title>
    <link rel="modulepreload" href="/.uibeam/snippets/uibeam-cb239ac6a7862368/runtime.mjs"/>
    <link rel="modulepreload" href="/.uibeam/components.js"/>
    <link rel="prefetch" href="/.uibeam/components_bg.wasm" as="fetch" type="application/wasm" crossorigin/>
  </head>
  <body>
    <div data-uibeam-hydrater="__uibeam_hydrate_Counter__" data-uibeam-props="{&#34;initial_count&#34;:5}">
      <div>
        <p>Count: 5</p>
        <div>
          <button class="">-</button>
          <button class="">+</button>
        </div>
      </div>
    </div>
    <script type="module" src="/.uibeam/components.js"></script>
  </body>
</html>