name: CI

on:
  pull_request:
  push:
    branches: ['main', 'v*']

permissions: {}

jobs:
  CI:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, nightly]
        task: ['check_fmt clippy', 'clippy_wasm32', 'clippy_wasm32_hydrate', 'test_crates', 'test_examples']

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Rust
        run: |
          rustup update
          rustup default ${{ matrix.toolchain }}
          rustup component add rustfmt clippy
          rustup target add wasm32-unknown-unknown
      
      - name: Setup mold
        run: |
          sudo apt install mold clang
          echo '[target.x86_64-unknown-linux-gnu]'                     >> $HOME/.cargo/config.toml
          echo 'linker    = "clang"'                                   >> $HOME/.cargo/config.toml
          echo 'rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]' >> $HOME/.cargo/config.toml
      
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad # v0.0.9
        with:
          version: "v0.12.0" # sccache version
      
      - name: Cache cargo tools
        id: cache_cargo_tools
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: ${{ runner.os }}-cargo-tools-${{ matrix.toolchain }}
          path: ~/.cargo
      - name: Install cargo tools
        if: steps.cache_cargo_tools.outputs.cache-hit != 'true'
        run: cargo install cargo-metask wasm-pack wasm-bindgen-cli

      - run: cargo metask ${{ matrix.task }}
        # temporary WORKAROUND for https://github.com/rust-lang/rust/issues/149692
        # tests/checks themselves are completely covered on stable toolchain
        if: ${{ matrix.toolchain == 'stable' }}
        env:
          RUSTC_WRAPPER: "sccache"
          SCCACHE_GHA_ENABLED: "true"
  