name: CI

on:
  pull_request:
  push:
    branches: ['main', 'v*']

permissions: {}

jobs:
  CI:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, nightly]

    steps:
      - uses: actions/checkout@v5

      - run: rustup update && rustup default ${{ matrix.toolchain }}
      
      - run: |
          sudo apt install mold clang
          echo '[target.x86_64-unknown-linux-gnu]'                     >> $HOME/.cargo/config.toml
          echo 'linker    = "clang"'                                   >> $HOME/.cargo/config.toml
          echo 'rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]' >> $HOME/.cargo/config.toml
      
      - run: cargo install cargo-metask

      - run: cargo task CI
  