name: CI

on:
  pull_request:
  push:
    branches: ['main', 'v*']

permissions: {}

jobs:
  CI:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain: [stable, nightly]
        task: ['check_fmt clippy', 'clippy_wasm32', 'clippy_wasm32_hydrate', 'test_crates', 'test_examples']

    steps:
      - uses: actions/checkout@v5

      - name: Setup Rust
        run: |
          rustup update
          rustup default ${{ matrix.toolchain }}
          rustup component add rustfmt clippy
          rustup target add wasm32-unknown-unknown
      
      - name: Setup mold
        run: |
          sudo apt install mold clang
          echo '[target.x86_64-unknown-linux-gnu]'                     >> $HOME/.cargo/config.toml
          echo 'linker    = "clang"'                                   >> $HOME/.cargo/config.toml
          echo 'rustflags = ["-C", "link-arg=-fuse-ld=/usr/bin/mold"]' >> $HOME/.cargo/config.toml
      
      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9
      
      - name: Cache cargo tools
        id: cache_cargo_tools
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-${{ matrix.toolchain }}-cargo-tools
          path: ~/.cargo/bin
      - name: Install cargo tools
        if: steps.cache_cargo_tools.outputs.cache-hit != 'true'
        run: cargo install cargo-metask wasm-pack wasm-bindgen-cli

      - run: cargo metask ${{ matrix.task }}
        env:
          RUSTC_WRAPPER: "sccache"
          SCCACHE_GHA_ENABLED: "true"
  